# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
build/
*.tsbuildinfo
coverage/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
prisma/*.db

# misc
.cache/
tmp/
